// @import "../../../styles/variable.module.scss";
@use "../../../styles/variable.module.scss" as *;
.heroMain {
    position: relative;
  }

  .navbuttonContainer{
    position: absolute;
    top: 50%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin: auto;
  }

  .navButton {
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s ease-in-out;
  }

  #prevButton {
    left: 2%;
  }

  #nextButton {
    right: 2%;
  }

  .navButton:hover {
    color: $secondary-color
  }